@import 'bourbon';
@import 'reset';
@import 'jquery.fullPage';
@import 'slick';

@font-face {
  font-family: 'AlfaBank';
  src: url('fonts/AlfaBank.eot?#iefix') format('embedded-opentype'),
       url('fonts/AlfaBank.woff') format('woff'),
       url('fonts/AlfaBank.ttf')  format('truetype'),
       url('fonts/AlfaBank.svg#AlfaBank') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('fonts/Geometria.eot?#iefix') format('embedded-opentype'),
       url('fonts/Geometria.otf')  format('opentype'),
       url('fonts/Geometria.woff') format('woff'),
       url('fonts/Geometria.ttf')  format('truetype'), url('fonts/Geometria.svg#Geometria') format('svg');
  font-weight: normal;
  font-style: normal;
}

$screen-xl: em(1800, 16);
$screen-xxl: em(1920, 16);

$colors:(
  black: #3b3736,
  gray: #cbcccd,
  red: #E61717
);


*{
  @include box-sizing(border-box);
}

.row{
  min-width: 1200px;
  @include margin(null auto);

  &:before,&:after{
    content: '';
 
    display: table;
    clear: both;
  }
}

.col{
  float: left;
  @include padding(null em(15));
  min-height: 1px;
}

@for $i from 1 through 12{
  .col-#{$i}{
    width: percentage($i/12);
  }
}

html, body{
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
}

body{
  font-family: 'Geometria';
  color: #676769;
}

h1, h2, h3, h4, h5{
  font-family: 'AlfaBank', sans-serif;
  color: #3b3736;

  strong{
    color: #E61717;
    font-weight: normal;
  }
}

a{
  text-decoration: none;
  @include transition(color .2s ease-in);
}

img{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

.pages{
  opacity: 0;
}

.b-header{
  height: 90px;
  line-height: 90px;
  @include position(absolute, 20px null null 0);
  width: 100%;
  min-width: 1280px;
  z-index: 99;
  text-align: center;

  padding-left: 40px;
  padding-right: 40px;

  &__logo{
    display: block;

    position: absolute;
    left: 40px;
    top: 0;
  }

  .b-button{
    position: absolute;
    right: 40px;
    top: 20px;

    font-size: em(18);
    line-height: em(50, 18);

    &:hover, &.is-red{
      background-color: #E61717;
      color: white;
      border-color: #E61717;
    }
  }
}

.b-button{
  font-family: 'AlfaBank', sans-serif;
  font-size: em(18);
  line-height: em(56, 18);

  display: inline-block;
  *display: inline;
  *zoom: 1;

  width: 250px;
  height: 50px;

  text-align: center;
  vertical-align: middle;

  color: #E61717;
  border: 2px solid;
  border-radius: 25px;

  &.is-filled{
    @extend input[type='submit'];
    height: 60px;
    line-height: 56px;
    color: white;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    background-color: #E61717;
    width: 310px;
    font-size: em(20);
    @include padding(2px null null);
  }
}


.b-nav{
  display: inline-block;
  *display: inline;
  *zoom: 1;

  text-align: center;
  position: relative;

  &__link{
    display: inline-block;
    *display: inline;
    *zoom: 1;

    vertical-align: middle;
    
    margin-left: 10px;
    margin-right: 10px;

    a{
      color: #cbcccd;

      &.is-active{
        color: #3b3736 !important;
      }

      &:hover{
        color: darken(#cbcccd, 20%);
      }
    }
  }

  &__anchor{
    position: absolute;
    left: 0;
    opacity: 0;
    bottom: 30px;
    height: 2px;
    width: 100px;
    background: #3b3736;
    @include transition(all .2s ease);

    &.is-active{
      opacity: .75;
    }
  }

  @media only screen and (max-width: 1366px){
    font-size: em(14);

    &__link{
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.b-page{
  text-align: center;
  opacity: 0;

  &.active{
    opacity: 1;
  }

  &__header{
    @include margin(null null 20px);

    h2{
      font-size: em(50);
      @include padding(2px null 8px);

      strong, span{
        display: inline-block;
        *display: inline;
        *zoom: 1;
      }
    }

    p{
      font-size: em(22);
      line-height: em(30, 22);
    }

    figure, .icon{
      height: 70px;
      line-height: 70px;
      @include margin(null null 10px);

      img{
        vertical-align: bottom;
      }
    }

    &.is-bigger{
      @include margin(null null 50px);

      h2{
        font-size: em(58);
        @include padding(6px null 4px);
      }

      figure, .icon{
        height: 130px;
        line-height: 130px;

        img{
          vertical-align: top;
        }
      }
    }
  }

  &__content{
    position: relative;
    min-height: 400px;
    @include clearfix;
  }

  &__slide{
    &.slick-slide{
      opacity: 0;
    }
    &.slick-active{
      opacity: 1;
    }
  }

  &__carousel{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}


.b-help{
  line-height: 30px;
  display: inline-block;
  *display: inline;
  *zoom: 1;

  text-align: center;
  vertical-align: middle;

  color: #cbcccd;
  border: 2px solid;
  border-radius: 100%;

  @include size(30px 30px);

  &:hover{
    color: darken(#cbcccd, 20%);
  }
}


.b-anchor{
  color: #E61717;
  font-size: em(20);
  font-family: 'AlfaBank', sans-serif;
  line-height: em(30, 20);
  display: inline-block;
  *display: inline;
  *zoom: 1;

  &-wrapper{
    @include position(absolute, null null 10px 0);
    z-index: 99;
    width: 100%;
  }

  &__icon{
    display: block;
    margin: 0 auto;
    @include size(20px 12px);
    height: 20px;
    @include retina-image('images/asset-27', 20px 12px);
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}


.step{

  &-list{
    width: 1170px;

    @media only screen and (max-width: 1200px){
      width: 100%;
    }
    @include margin(0 auto);
    @include clearfix;
  }

  figure, .icon{
    height: 160px;
    line-height: 160px;

    img{
      vertical-align: bottom;
    }
  }

  h3{
    font-size: em(27, 16);
    line-height: 30px;
    @include padding(8px null 2px);
    @include margin(30px null 10px);
  }

  p{
    line-height: em(25);
    @include padding(4px null 6px);
  }
}

.b-main-slider{
  position: relative;
  width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  @include margin(76px auto);

  .slick-list{
    overflow: visible;
  }

  &__nav{
    @include position(absolute, 0 null null 50%);
    @include margin(60px null null 40px);
    font-size: em(40);
    font-family: 'AlfaBank', sans-serif;
    color: #cbcccd;
    z-index: 99;
    text-align: left;

    ul{
      margin-top: 10px;
      
      li{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-right: 20px;
      }
    }

    a{
      color: #cbcccd;

      &.is-active{
        color: #E61717;
        border-bottom: 4px solid;
      }
    }

  }

  &__slide{
    opacity: 0;
    // @include transition(opacity .8s ease);

    &.slick-active{
      opacity: 1;
    }
    
    .col{
      position: relative;
      @include padding(null 0);
    }

    .col + .col{
      text-align: left;
      @include padding(190px null null 40px);
    }
  }

  &__article{
    h3{
      font-size: em(35);
      line-height: em(40, 35);
      @include margin(null null 20px);
    }

    p{
      font-size: em(18);
      line-height: em(30, 18);
    }
  }

  &__prev{
    @include size(40px);
    @include retina-image('images/asset-20', 40px);
    @include position(absolute, 50% null null 0);
    @include margin(-20px null null);
    z-index: 9999;
  }

  &__next{
    @include size(40px);
    @include retina-image('images/asset-21', 40px);
    @include position(absolute, 50% 0 null null);
    @include margin(-20px null null);
    z-index: 9999;
  }
}

.is-align-right{
  text-align: right;
}

.b-laptop{
  position: relative;
  margin-top: 60px;

  &__screen{
    @include position(absolute, 12px null null 70px);
    overflow: hidden;
    width: 460px;
    height: 290px;
  }
}


.asset{

  &-1{
    @include position(absolute, 5px null null 50%);
    @include margin(null null null -50px);
    z-index: 1;
  }

  &-2{
    @include position(absolute, 270px null null 50%);
    @include margin(null null null -40px);
    z-index: 1;
  }

  &-3{
    @include position(absolute, 15px null null 50%);
    @include margin(null null null -220px);
    z-index: 1;
  }

  &-4{
    @include position(absolute, 10px null null 50%);
    @include margin(null null null 130px);
    z-index: 1;
  }

  &-5{
    @include position(absolute, 90px null null 50%);
    @include margin(null null null -100px);
  }

  &-6{
    @include position(absolute, 60px null null 50%);
    @include margin(null null null -130px);
  }

  &-7{
    @include position(absolute, 30px null null 50%);
    @include margin(null null null -160px);
  }

  &-8{
    @include position(absolute, null 50% 0 null);
  }

  &-9{
    @include position(absolute, null null 0 50%);
  }

  &-11, &-12, &-13{
    position: absolute;
    left: 0;
    top: 0;
  }

  &-15{
    @include position(absolute, 220px 50px null null);
  }

  &-16{
    @include position(absolute, 150px null null 50px);
  }

  &-17{
    @include position(absolute, 210px null null 0);
  }

  &-18{
    @include position(absolute, 200px null null 170px);
  }

  &-19{
    @include position(absolute, 10px null null 140px);
  }
}

.b-asset-group{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  z-index: 0;
}

.b-feature-list{
  font-size: em(18);
  line-height: 40px;
  text-align: right;
  @include padding(95px 150px null null);

  &.is-right{
    text-align: left;
    @include padding(null 0 null 150px);
  }

  @media only screen and (max-width: 1200px){
    font-size: em(12);
  }
}


.b-form{
  font-size: 16px;
  width: em(340);
  @include margin(em(30) auto);

  &__tip{
    font-size: em(22);
    line-height: em(30, 22);
  }

  &__field{
    @include margin(em(20) null);
  }


  input{
    font-family: 'AlfaBank', sans-serif;
    font-size: em(18);
    line-height: em(20, 18);

    border: none;

    outline: none;
    -webkit-appearance: none;

    @include size(100% em(60, 18));  
    @include padding(em(18, 18) em(20, 18) em(12, 18));
  }


  input[type='text'],
  input[type='email'],
  textarea{
    color: #3b3736;
    border: 2px solid #cbcccd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }


  input[type='submit']{
    cursor: pointer;

    color: white;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    background-color: #E61717;

    @include margin(em(10) null);
  }

  input::-webkit-input-placeholder{
    color: #cbcccd;
  }

  input:-moz-placeholder{
    color: #cbcccd;
  }
}

.b-testimonial{
  position: relative;

  border: 2px solid #cbcccd;
  border-bottom: 3px solid #cbcccd;
  border-radius: 20px;

  text-align: left;
  font-size: em(15);
  line-height: em(25, 15);

  @include margin(98px auto null);
  @include size(474px 244px);

  &:before{
    content: '';
    display: block;

    @include size(442px 79px);
    @include retina-image('images/asset-22', 442px 79px);
    @include position(absolute, -81px null null 50%);
    @include margin(null null null -221px);
  }

  &:after{
    content: '';
    display: block;

    @include size(32px 31px);
    @include retina-image('images/asset-26', 32px 31px);
    @include position(absolute, null null -31px 70px);
  }

  &__header{
    height: 80px;
    @include clearfix;

    figure, .icon{
      float: left;
      height: 80px;
      overflow: hidden;
      line-height: 80px;

      img{
        border-radius: 100%;
      }


      @include margin(null 20px null null);
    }

    .descr{
      float: left;

      @include padding(13px null null null);
    }

    h5{
      font-size: em(26, 15);
      line-height: 30px;
    }
  }

  &__slide{
    @include padding(30px);
  }

  &__content{
    @include padding(13px null 7px);
  }

  &__thumbnails{
    height: 110px;
    line-height: 110px;

    text-align: left;
    position: relative;
  }

  &__thumbnail{
    @include margin(null 80px null null);
  }

  &__prev{
    @extend .b-main-slider__prev;
    left: -100px
  }

  &__next{
    @extend .b-main-slider__next;
    right: -100px
  }
}

.fp-tableCell .row{
  // min-height: 612px;
  // fix if centered cell
}

.b-footer{
  
  padding-left: 40px;
  padding-right: 40px;

  @include position(absolute, null null 30px 0);
  text-align: left;
  
  width: 100%;
  min-width: 1280px;

  &__logo{
    float: left;
    margin-top: 4px;
  }

  &__copyright{
    font-size: em(12, 16);
    line-height: em(20, 12);
    color: #cbcccd;
    text-align: right;
    float: right;
  }
}



.icon{
  &-1{
    margin-left: 68px;
  }
}



.partners{
  width: 1120px;
  margin: 0 auto;
}
.partner{
  display: inline-block;
  height: 120px;
  line-height: 120px;
  margin: 0 40px;

  img{
    vertical-align: middle;
  }
}