.row{
  width: 1200px\0/;
}

.b-page__header.is-bigger h2{
  font-size: 3.625em\0/;
}

.b-nav__anchor{
  display: none\0/;
}

.b-nav__anchor.is-active{
  display: block\0/;
}

.b-nav{
  font-size: 14px;
}

.b-header .b-button{
  line-height: 46px;
}

.b-main-slider .slick-list{
  overflow: hidden !important;
}

.pages{
  filter: alpha(opacity = 0);
}